/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	


/******************************************
		Main
******************************************/

html{
	font-family:'Just Another Hand', cursive;
	letter-spacing:3px;
	
	background:hsl(260,65%,95%);	
}

#container{
	width:100vw;
	max-width:800px;
	height:100vh;
	margin:0 auto;
}

h1{
	font-size:48px;
	padding:20px;
}

footer{
	margin-top:25px;	
}

footer p{
	padding:20px;
	text-align:right;
}

/******************************************
		Transforms
******************************************/

.shapes{
	display:flex;
	justify-content:space-evenly;
}

.shape1{
	width:60px;
	height:60px;
	background:lightblue;
}



/******************************************
		Animations
******************************************/

.shapes .shape1:nth-child(3){
	/* you can animate any change in an element using the transition property */
	transition: transform 1s ease-in-out;
}

.shapes .shape1:nth-child(3):hover{
	/* nth-child(3) targets the third child - or specifically the thing with the class .shape1 that is a third child in .shapes */
	transform: scale(0.2, 0.2);
}

.shapes .shape1:nth-child(2){
	/* of you want any change to animate, use transition:all */
	transition: all 750ms ease-in-out;
}

.shapes .shape1:nth-child(2):hover{
	transform: rotate(135deg);
	transform: translate(50px, 20px);
	background-color: pink;
}

.shapes .shape1:nth-child(4){
	/* to apply an @keyframes animation, you have to call it by name */
	animation: jump 2s ease-in-out infinite;
}

.shapes .shape1:nth-child(5){
	/* to apply an @keyframes animation, you have to call it by name */
	animation: pendulum 2s ease-in-out infinite alternate;
}

/******************************************
		Animations 2
******************************************/

/* define an animation using @keyframes */
@keyframes jump{
	50%{
		transform: translateY(-100px);
	}
}

@keyframes pendulum{
	/* you can set a property for the duration of the animation by setting it for both 0% and 100% */
	0%,100%{
		transform-origin: 0 -100px;
	}
	/* when idealing with direction:
	a negative vertical value means up, a positive value means down
	a negative horizontal value means left, a positive value means right
	if using 3D transitions: positive mean toward the viewer, negative means away */

	0%{
		transform: rotate(77deg);
	}

	100%{
		transform: rotate(-45deg);
	}
}

/******************************************
		Slider
******************************************/

.slider{
	margin:30px auto 0;
	/* three properties in margin mean top, left-right, bottom */
	width:80%;
	/* text-align will center images as well as text */
	text-align:center;

	/* set the overflow of the slider to hidden, so any content outside its fixed  width and height will be hidden */
	overflow: hidden;
}

/* first, make the slider position relative so it will contain all the absolutely positioned images */
.slideback{
	position: relative;
}

.slideback > img{
	/* > is the direct child selector, and only targets elements that are children but not grandchildren or further descendants */
	width: 100%;
}

.slideholder{
	/* this is the element that slides back and forth */
	position: absolute;
	/* position: absolute is relative to the last element with a position property */
	top: 0;

	width: 300%; /* because there are three images */
	height: 100%; /* only works because of display: flex */
	display: flex; /* so the images sit next to each other */

	/* add the transition property to animate any change (in this case, when the margin-left chages) */
	transition: margin 1s ease-in-out;
}

.imgslide{
	/* these divs hold each of the images, and we can use flex-grow to make them take up more space */
	flex-grow: 1;
	height: 100%;
}

.imgslide img{
	margin-top: 26%; /* just to push the images down where we want them */
	width: 26%;
}

/* ~ is the after selector, and will style eleents based on if they come after another element (in this casem styling the slider based on if it comes after a checked radio button) */
#slide1:checked ~ .slideback .slideholder{ margin-left: 0; }
#slide2:checked ~ .slideback .slideholder{ margin-left: -100%; }
#slide3:checked ~ .slideback .slideholder{ margin-left: -200%; }



/******************************************
		Labels (buttons)
******************************************/
